
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family:sans-serif;
}
.header{
  width: 100%;
  color: #fff;
  margin:auto;
  display: flex;
  background-color: #000;
  align-items: center;
  padding:15px 10px;
  position: fixed;
}
.logo{
  display: flex;
  color:red;
  margin-right:25px;
  margin-left:10px;
  font-weight: bold;
  font-size:28px;
}
.menu{
  flex:1;
}
.menu ul{
  display: flex;
  list-style-type:none;
}
.menu a{
text-decoration: none;
margin-right:15px;
color: #eee;
}
.menu a:hover{
  color: #ccc;
}
