
*{
  box-sizing: border-box;
  margin:0;
}
.menu{
  font-family: sans-serif;
  font-size:11pt;
  background-color:#000;
  display: flex;
  padding:10px;
  align-items: center;
  position:fixed;
  width: 100%;
}

.item_menu {
  display: flex;
  list-style-type: none;
}
.item_menu a{
  text-decoration: none;
  color: #ddd;
  margin-right: 20px;
}
.item_menu li a:hover{
  color:#bbb;
}
