
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family:sans-serif;
}
.header{
  width: 100%;
  color: #fff;
  margin:auto;
  display: flex;
  background-color: #000;
  align-items: center;
  padding:15px 10px;
  position:fixed;
  z-index:2;
}
.logo a{
  display: flex;
  color:red;
  margin-right:30px;
  margin-left:10px;
  font-weight: bold;
  font-size:28px;
  text-decoration: none;
}
.menu ul{
  display: flex;
  list-style-type:none;
  font-size:small;
}
.menu a{
text-decoration: none;
margin-right:15px;
color: #eee;
}
.menu a:hover{
  color: #ccc;
}
.banner{
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url('../img/capa-house.jpg');
  background-repeat: no-repeat;
  background-size: 100% 80vh;
  display:flex;
  align-items:flex-end;
}
.btn{
  padding-left:30px;
  padding-bottom: 50px;
  color:#fff;
}
.btn button{
  background-color:#fff;
  font-size:14px;
  font-weight:bold;
  padding:10px;
  border-radius:2px;
  border:none;
}
.btn button img{
  float:left;
  margin-right:5px;
}
.btn button:hover{
  background-color:#ddd;
}
.btn h1{
  margin-bottom:10px;
}
.btn p{
  margin-bottom:20px;
  width:50%;
  text-align:justify;
}
.carrosel-filmes{
  background-color:#141414;
}
.box-filme{
  position:relative;
  height:300px;
}
.titulocarrousel{
  color:#fff;
  margin-left:5px;
  margin-bottom: 10px;
}
.rodape{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#000;
  color:#fff;
  font-size:small;
  width:100%;
  height:50px;
}
